.grounds {
    .video{
      @include block-center;
      width: 70vw;
      border-radius: 1%;
      margin-top: 20px;
    }
    p.avenue {
      @include text-center;
    }
    p.avenue:hover {
      cursor: pointer;
      transition: 700ms ease;
      color: $orange;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 5px;
      width: 100%;
      height: auto;
      gap: .5rem;
      justify-items: center;
      padding-top: 40px;
    
    
div.photo img {
  width: 100%;
  border-radius: 2%;
}

div.photo:hover img {
  transform: scale(1.6);
  transition-duration: 1000ms;
}

}
}

