.home {
        img.sky {
            width: 70vw;
            max-width: 500px;
            border-radius: 5%;
            margin-top: 50px;
          }
          p.companion {
            align-self: center;
            margin-top: 30px;
            font-size: 5em;
            font-family: made-dillan;
            letter-spacing: 0.1rem;
            margin-bottom: 50px;
          }
    }