.home {
  p.companion {
    align-self: center;
    font-family: made-dillan;
    margin-bottom: 50px;
    letter-spacing: 0.1rem;
    font-size: 3.3rem;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
}
