  @keyframes background-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }

 
  @keyframes right {
    0% {
      transform:translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform:translateX(0);
    }
  }

  @keyframes left {
    0% {
      transform:translateX(0);
    }
    50% {
      transform: translateX(-5px);
    }
    100% {
      transform:translateX(0);
    }
  }

  @keyframes bounce {
    0% {
      transform:translateY(0);
    }
    50% {
      transform:translateY(-5px);
    }
    100% {
      transform:translateY(0);
    }
  }