@media (max-width: 414px) {
  header {
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr repeat(4, 2fr) 1fr;
    grid-template-rows: 10% repeat(4, 20%) 10%;
    width: 100%;

    .logo {
      display: grid;
      grid-column: 3 / 5;
      grid-row: 3 / 5;
      align-self: baseline;
      align-items: center;
      position: relative;
      width: 120px;
      margin-left: 7vw;
    }

    nav {
      @include nav-mobile;
      top: 120%;

      .nav-bar {
        @include navbar-mobile;

        .nav-link {
          font-size: 1rem;
          line-height: 2rem;
          letter-spacing: 0.1rem;
        }
      }
    }

    .nav-toggle:checked ~ nav {
      display: block;
    }

    .nav-toggle {
      @include toggle-mobile;
    }

    .nav-toggle-label {
      height: 100%;

      span,
      span::before,
      span::after {
        @include navspan-mobile;
      }

      span::before,
      span::after {
        @include span-before-after;
      }

      span::before {
        bottom: 7px;
      }

      span::after {
        top: 7px;
      }
    }
  }

  .home {
    img.sky {
      @include block-center;
      @include home-img-size;
    }
    p.companion {
      @include home-caption;
      text-align: center;
      margin-top: 30px;
      font-size: 2rem;
      letter-spacing: 0.1rem;
      margin-bottom: 50px;
    }
  }

  .grounds {
    .video {
      height: 30vh;
    }
    p.avenue {
      font-size: 1em;
      max-width: 300px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .contact {
    .socials {
      margin-top: 70px;
    }
  }

  .section-wrapper {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  h1 {
    font-size: 30px;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  header {
    display: block;
    height: 17vw;
    width: 100%;

    .logo {
      display: block;
      margin: auto;
      padding-top: 1.25em;
      width: 30vw;
    }

    nav {
      @include nav-mobile;
      top: 95%;

      .nav-bar {
        @include navbar-mobile;

        .nav-link {
          font-size: 1.25rem;
          line-height: 4rem;
          letter-spacing: 0.1rem;
        }
      }
    }

    .nav-toggle:checked ~ nav {
      display: block;
    }

    .nav-toggle {
      @include toggle-mobile;
    }

    .nav-toggle-label {
      height: 80%;

      span,
      span::before,
      span::after {
        @include navspan-mobile;
      }

      span::before,
      span::after {
        @include span-before-after;
      }

      span::before {
        bottom: 7px;
      }

      span::after {
        top: 7px;
      }
    }
  }

  .home {
    img.sky {
      @include block-center;
      @include home-img-size;
      max-width: 340px;
    }
  }

  .grounds {
    .video {
      height: 30vh;
    }

    p.avenue {
      font-size: 1.2em;
      max-width: 600px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  .contact {
    .form-title {
      max-width: 400px;
    }

    form {
      width: 50vw;
      max-width: 320px;
    }
  }

  h1 {
    font-size: 40px;
  }
}

/* 768 x 1024*/

@media (min-width: 769px) and (max-width: 1280px) {
  header {
    display: block;
    height: 8vw;
    width: 100%;

    .logo {
      display: block;
      margin-left: 8vw;
      padding-top: 0.8em;
      width: 15vw;
    }

    .nav-toggle {
      @include toggle-web;
    }

    nav {
      @include nav-web;
      margin-top: -6.5%;

      .nav-bar {
        @include navbar-web;

        .nav-link {
          font-size: 1.1em;
        }
      }
    }
  }

  .home {
    img.sky {
      @include block-center;
      @include home-img-size;
      max-width: 340px;
    }

  }

  .grounds {
    .video {
      height: 50vh;
    }
    p.avenue {
      @include home-p-web;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .gallery {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800px;

    h1 {
      display: flex;
      align-self: center;
      justify-content: center;
    }

    h2 {
      font-size: 30px;
    }

    h4 {
      font-size: 25px;
    }

    .drink,
    .bowl {
      font-size: 20px;
    }
  }

  .contact {
    .form-title {
      max-width: 400px;
      font-size: 20px;
    }

    form {
      width: 50vw;
      max-width: 320px;
    }
  }

  .socials {
    margin-top: 70px;

    h2 {
      font-size: 40px;
    }
  }

  h1 {
    font-size: 50px;
  }
}

/*1280px*/

@media (min-width: 1281px) {
  header {
    display: block;
    height: 6vw;
    width: 100%;
    max-height: 138px;

    .logo {
      display: block;
      margin-left: 10vw;
      padding-top: 1.5em;
      width: 10vw;
    }

    .nav-toggle {
      @include toggle-web;
    }

    nav {
      @include nav-web;
      margin-top: -4%;

      .nav-bar {
        @include navbar-web;

        .nav-link {
          font-size: 1.5em;
        }
      }
    }
  }

  .home {
    display: grid;
    grid-template-columns: 10%, repeat(4, 20%) 10%;
    grid-template-rows: 10%, repeat(4, 20%) 10%;

    img.sky {
      display: grid;
      width: 70vw;
      max-width: 500px;
      height: auto;
      border-radius: 5%;
      grid-column: 1 / 2;
      grid-row: 2 / 4;
    }
    p.companion {
      display: grid;
      grid-column: 4 / 5;
      grid-row: 1 / 4;
      padding: 50px;
      letter-spacing: 0.2rem;
      line-height: 5rem;
      margin-left: 90px;
      margin-top: 30px;
    }
  }

  .grounds {
    .video {
      height: 70vh;
      max-width: 750px;
      max-height: 400px;
    }
    p.avenue {
      @include home-p-web;
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .gallery {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800px;

    h1 {
      display: flex;
      align-self: center;
      justify-content: center;
    }

    h2.socials {
      font-size: 40px;
    }

    h4 {
      font-size: 20px;
    }

    .drink,
    .bowl {
      font-size: 20px;
    }
  }

  .contact {
    .form-title {
      max-width: 600px;
      font-size: 25px;
    }

    form {
      width: 50vw;
      max-width: 320px;
    }

    .socials {
      h2 {
        font-size: 40px;
      }
    }
  }
}
h1 {
  font-size: 50px;
}
