.menu {
  height: 900px;

  .menu.container {
    margin-left: 30px;
    display: grid;
  }

  h1.section-titles {
    display: flex;
    align-self: center;
    justify-content: center;
  }
   
  h4.title-non-coffee{
    text-align: center;
    font-family: made-dillan;
    font-size: 15;
  }
  
  h2.title-food,
  h2.title-drinks {
    text-align: center;
    font-family: made-dillan;
    padding: 5px;
  }

  .bowls {
    margin-top: 20px;
  }

  .drink,
  .bowl {
    list-style-type: none;
    line-height: 25px;
    font-size: 16px;
    margin-left: 5vw;
  }

  .non-coffee {
    padding-top: 20px;
  }

  button{
    border-radius: 30%;
    padding: 5px;
    text-align: center;
    animation: background-animation 800ms infinite alternate;
    background-size: 900%;
    background-image: linear-gradient(to left, silver, $background);
    cursor: pointer;
  }

  button:hover ~ .drinks {
    .coffee > .notbestseller {
      animation: decrease-opacity 800ms forwards;
    }
    .non-coffee > .notbestseller {
      animation: decrease-opacity 800ms forwards;
    }
  }
  button:hover ~ .bowls {
  .food > .notbestseller {
    animation: decrease-opacity 800ms forwards;
  }
}

.notbestseller {
  animation: increase-opacity 800ms forwards;
}
}
