* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: cenzo-flare;
  src: url("../assets/cenzo-flare.otf");
}
@font-face {
  font-family: made-dillan;
  src: url("../assets/made-dillan.otf");
}
@font-face {
  font-family: made-kenfolg;
  src: url("../assets/made-kenfolg.otf");
}
body {
  background-color: #f8f6ee;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  max-width: 2250px;
  min-width: 275px;
  margin: auto;
}

.section-wrapper {
  height: 100%;
  width: 100%;
  padding: 4em;
  padding-top: 98px;
}

.section-titles {
  color: black;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 30px;
  font-family: made-dillan;
}

header {
  position: fixed;
  top: top;
  z-index: 999;
  height: 50px;
  grid-template-columns: 5% 5% repeat(10, 8%) 5% 5%;
  grid-template-rows: 10% repeat(4, 20%) 10%;
  background-color: #f8f6ee;
  width: 100%;
  max-width: 2317px;
}
header .logo {
  display: grid;
  align-self: baseline;
  grid-column: 2/7;
  grid-row: 2/5;
  align-items: center;
  position: relative;
  width: 120px;
}
header nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: stretch;
  grid-column: 10/15;
  grid-row: 4/6;
  background-color: #f8f6ee;
}
header nav .nav-bar {
  gap: 40px;
}
header nav .nav-bar .nav-link {
  font-family: made-dillan;
  list-style-type: none;
}
header nav .nav-bar .nav-link a:link,
header nav .nav-bar .nav-link a:visited {
  text-decoration: none;
  transition: 700ms ease;
  color: #cb5727;
  text-transform: uppercase;
}
header nav .nav-bar .nav-link a:hover,
header nav .nav-bar .nav-link a:active {
  color: black;
  text-shadow: 0 5px 5px rgba(24, 24, 30, 0.3);
}

.home p.companion {
  align-self: center;
  margin-top: 30px;
  font-family: made-dillan;
  margin-bottom: 50px;
}

.grounds .video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  border-radius: 1%;
  margin-top: 20px;
}
.grounds p.avenue {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.grounds .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  width: 100%;
  height: auto;
  gap: 0.5em;
  justify-items: center;
  padding-top: 40px;
}
.grounds .gallery div.photo img {
  width: 100%;
  border-radius: 2%;
}
.grounds .gallery div.photo:hover img {
  transform: scale(1.6);
  transition-duration: 1000ms;
}

.menu {
  height: 900px;
}
.menu .menu.container {
  margin-left: 30px;
  display: grid;
}
.menu h1.section-titles {
  display: flex;
  align-self: center;
  justify-content: center;
}
.menu h4.title-non-coffee {
  text-align: center;
  font-family: made-dillan;
  font-size: 15;
}
.menu h2.title-food,
.menu h2.title-drinks {
  text-align: center;
  font-family: made-dillan;
  padding: 5px;
}
.menu .bowls {
  margin-top: 20px;
}
.menu .drink,
.menu .bowl {
  list-style-type: none;
  line-height: 25px;
  font-size: 16px;
  margin-left: 5vw;
}
.menu .non-coffee {
  padding-top: 20px;
}
.menu button {
  border-radius: 30%;
  padding: 5px;
  text-align: center;
  -webkit-animation: background-animation 800ms infinite alternate;
          animation: background-animation 800ms infinite alternate;
  background-size: 900%;
  background-image: linear-gradient(to left, silver, #f8f6ee);
  cursor: pointer;
}
.menu button:hover ~ .drinks .coffee > .notbestseller {
  -webkit-animation: decrease-opacity 800ms forwards;
          animation: decrease-opacity 800ms forwards;
}
.menu button:hover ~ .drinks .non-coffee > .notbestseller {
  -webkit-animation: decrease-opacity 800ms forwards;
          animation: decrease-opacity 800ms forwards;
}
.menu button:hover ~ .bowls .food > .notbestseller {
  -webkit-animation: decrease-opacity 800ms forwards;
          animation: decrease-opacity 800ms forwards;
}
.menu .notbestseller {
  -webkit-animation: increase-opacity 800ms forwards;
          animation: increase-opacity 800ms forwards;
}

.contact {
  background-color: #18181e;
  color: #f8f6ee;
}
.contact h1,
.contact h2 {
  color: #cb5727;
}
.contact .form-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}
.contact form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
}
.contact form .label-message {
  margin-bottom: 5px;
}
.contact form .input-form {
  height: 30px;
  background: #f8f6ee;
  padding: 1em;
}
.contact form .input-form::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: #cb5727;
  opacity: 0.3;
}
.contact form .input-form:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #cb5727;
  opacity: 0.3;
}
.contact form .input-form::placeholder {
  font-family: "Poppins", sans-serif;
  color: #cb5727;
  opacity: 0.3;
}
.contact form .message.input-form {
  height: 80px;
}
.contact form button {
  cursor: pointer;
  height: 30px;
  background: #f8f6ee;
  font-family: "Poppins", sans-serif;
  color: #cb5727;
  -webkit-animation: background-animation 1s infinite alternate;
          animation: background-animation 1s infinite alternate;
  background-size: 900%;
  background-image: linear-gradient(to left, #18181e, #f8f6ee);
}
.contact .socials {
  margin-top: 40px;
}
.contact .socials .icon-container {
  display: flex;
  justify-content: center;
  align-self: baseline;
  gap: 1.2vw;
}
.contact .socials .icon {
  width: 5vw;
  min-width: 40px;
  max-width: 80px;
  background: #18181e;
  aspect-ratio: 1/1;
}
.contact .socials .icon:hover {
  cursor: pointer;
}
.contact .socials .instagram:hover {
  -webkit-animation: left 700ms infinite;
          animation: left 700ms infinite;
}
.contact .socials .spotify:hover {
  -webkit-animation: bounce 700ms infinite;
          animation: bounce 700ms infinite;
}
.contact .socials .facebook:hover {
  -webkit-animation: right 700ms infinite;
          animation: right 700ms infinite;
}

@-webkit-keyframes background-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes background-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@-webkit-keyframes right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes decrease-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes decrease-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@-webkit-keyframes increase-opacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes increase-opacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 414px) {
  header {
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr repeat(4, 2fr) 1fr;
    grid-template-rows: 10% repeat(4, 20%) 10%;
    width: 100%;
  }
  header .logo {
    display: grid;
    grid-column: 3/5;
    grid-row: 3/5;
    align-self: baseline;
    align-items: center;
    position: relative;
    width: 120px;
    margin-left: 7vw;
  }
  header nav {
    position: absolute;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: auto;
    display: none;
    flex-grow: 1;
    top: 120%;
  }
  header nav .nav-bar {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  header nav .nav-bar .nav-link {
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
  }
  header .nav-toggle:checked ~ nav {
    display: block;
  }
  header .nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    display: flex;
    align-items: center;
    display: none;
  }
  header .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    display: flex;
    align-items: center;
    height: 100%;
  }
  header .nav-toggle-label span,
header .nav-toggle-label span::before,
header .nav-toggle-label span::after {
    display: block;
    background: #cb5727;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  header .nav-toggle-label span::before,
header .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }
  header .nav-toggle-label span::before {
    bottom: 7px;
  }
  header .nav-toggle-label span::after {
    top: 7px;
  }
  .home img.sky {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    border-radius: 5%;
    margin-top: 50px;
    max-width: 450px;
  }
  .home p.companion {
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 50px;
  }
  .grounds .video {
    height: 30vh;
  }
  .grounds p.avenue {
    font-size: 1em;
    max-width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .contact .socials {
    margin-top: 70px;
  }
  .section-wrapper {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  h1 {
    font-size: 30px;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  header {
    display: block;
    height: 17vw;
    width: 100%;
  }
  header .logo {
    display: block;
    margin: auto;
    padding-top: 1.25em;
    width: 30vw;
  }
  header nav {
    position: absolute;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: auto;
    display: none;
    flex-grow: 1;
    top: 95%;
  }
  header nav .nav-bar {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  header nav .nav-bar .nav-link {
    font-size: 1.25rem;
    line-height: 4rem;
    letter-spacing: 0.1rem;
  }
  header .nav-toggle:checked ~ nav {
    display: block;
  }
  header .nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    display: flex;
    align-items: center;
    display: none;
  }
  header .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    display: flex;
    align-items: center;
    height: 80%;
  }
  header .nav-toggle-label span,
header .nav-toggle-label span::before,
header .nav-toggle-label span::after {
    display: block;
    background: #cb5727;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  header .nav-toggle-label span::before,
header .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }
  header .nav-toggle-label span::before {
    bottom: 7px;
  }
  header .nav-toggle-label span::after {
    top: 7px;
  }
  .home img.sky {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    border-radius: 5%;
    margin-top: 50px;
    max-width: 450px;
    max-width: 340px;
  }
  .home p.companion {
    font-size: 3.3rem;
    letter-spacing: 0.1rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .grounds .video {
    height: 30vh;
  }
  .grounds p.avenue {
    font-size: 1.2em;
    max-width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .contact .form-title {
    max-width: 400px;
  }
  .contact form {
    width: 50vw;
    max-width: 320px;
  }
  h1 {
    font-size: 40px;
  }
}
/* 768 x 1024*/
@media (min-width: 769px) and (max-width: 1280px) {
  header {
    display: block;
    height: 8vw;
    width: 100%;
  }
  header .logo {
    display: block;
    margin-left: 8vw;
    padding-top: 0.8em;
    width: 15vw;
  }
  header .nav-toggle {
    margin-left: -999px;
  }
  header nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: -6.5%;
  }
  header nav .nav-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  header nav .nav-bar .nav-link {
    font-size: 1.1em;
  }
  .home img.sky {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    border-radius: 5%;
    margin-top: 50px;
    max-width: 450px;
    max-width: 340px;
  }
  .home p.companion {
    font-size: 3.3rem;
    letter-spacing: 0.1rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .grounds .video {
    height: 50vh;
  }
  .grounds p.avenue {
    font-size: 1.55em;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .grounds .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800px;
  }
  .menu h1 {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .menu h2 {
    font-size: 30px;
  }
  .menu h4 {
    font-size: 25px;
  }
  .menu .drink,
.menu .bowl {
    font-size: 20px;
  }
  .contact .form-title {
    max-width: 400px;
    font-size: 20px;
  }
  .contact form {
    width: 50vw;
    max-width: 320px;
  }
  .socials {
    margin-top: 70px;
  }
  .socials h2 {
    font-size: 40px;
  }
  h1 {
    font-size: 50px;
  }
}
/*1280px*/
@media (min-width: 1281px) {
  header {
    display: block;
    height: 6vw;
    width: 100%;
    max-height: 138px;
  }
  header .logo {
    display: block;
    margin-left: 10vw;
    padding-top: 1.5em;
    width: 10vw;
  }
  header .nav-toggle {
    margin-left: -999px;
  }
  header nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-top: -4%;
  }
  header nav .nav-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  header nav .nav-bar .nav-link {
    font-size: 1.5em;
  }
  .home {
    display: grid;
    grid-template-columns: 10%, repeat(4, 20%) 10%;
    grid-template-rows: 10%, repeat(4, 20%) 10%;
  }
  .home img.sky {
    display: grid;
    width: 70vw;
    max-width: 500px;
    height: auto;
    border-radius: 5%;
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .home p.companion {
    display: grid;
    grid-column: 4/5;
    grid-row: 1/4;
    font-size: 3.3rem;
    letter-spacing: 0.2rem;
    line-height: 5rem;
    margin-bottom: 50px;
    padding: 50px;
    margin-left: 90px;
    text-align: center;
  }
  .grounds .video {
    height: 70vh;
    max-width: 750px;
    max-height: 400px;
  }
  .grounds p.avenue {
    font-size: 1.55em;
    max-width: 700px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .grounds .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800px;
  }
  .menu h1 {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .menu h2.socials {
    font-size: 40px;
  }
  .menu h4 {
    font-size: 20px;
  }
  .menu .drink,
.menu .bowl {
    font-size: 20px;
  }
  .contact .form-title {
    max-width: 600px;
    font-size: 25px;
  }
  .contact form {
    width: 50vw;
    max-width: 320px;
  }
  .contact .socials h2 {
    font-size: 40px;
  }
}
h1 {
  font-size: 50px;
}/*# sourceMappingURL=styles.css.map */